body {
    background: rgb(255,157,8);
    background: radial-gradient(circle, rgba(255,157,8,1) 0%, rgba(155,187,255,1) 100%);
    font-family: 'Roboto', sans-serif;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

main {
width: 100%;
max-width: 730px;
margin: 100px auto 50px;
display: flex;
align-items: center;
}

.tarjetas {
background-color: rgba(255, 255, 255, 0.2);
padding: 0 10px 10px 10px;
border-radius: 8px;
}

h1 {
text-align: center;
}

button {
height: 150px;
width: 150px;
background-color: rgba(50, 98, 187, 0.781);
border-radius: 10%;
font-size: 40px;
color: rgb(255, 255, 255);
font-weight: bold;
}

button:hover {
background-color: rgba(216, 185, 99, 0.981);
color: rgb(252, 176, 36);
cursor: pointer;
}

.seccion_estadisticas {
background-color: rgba(255, 255, 255, 0.2);
border-radius: 10px;
width: 100%;
max-width: 250px;
height: 550px;
padding: 10px;
margin: 0 auto;
box-sizing: border-box;
}

.estadisticas {
font-size: large;
text-align: center;
font-weight: bold;
border: 1px solid white;
height: 105px;
border-radius: 8px;
padding: 8px 20px;
box-sizing: border-box;
}

footer {
text-align: center;
margin: 20px;
}

a {
text-decoration: none;
}

img {
max-height: 100%;
max-width: 100%;
border-radius: 8px;
}

#boton_reiniciar {
background-color: rgba(50, 98, 187, 0.781);
border: 1px solid white;
border-radius: 8px;
padding: 8px 20px;
box-sizing: border-box;
color: rgb(255, 255, 255);
font-weight: bold;
font-size: large;
margin: 0 auto;
display: block;
width: 100%;
max-width: 250px;
height: 105px;
text-align: center;
}

#ver_scores{
background-color: rgba(50, 98, 187, 0.781);
border: 1px solid white;
border-radius: 8px;
padding: 8px 20px;
box-sizing: border-box;
color: rgb(255, 255, 255);
font-weight: bold;
font-size: large;
margin: 0 auto;
display: block;
width: 100%;
max-width: 250px;
height: 105px;
text-align: center;
}

.score-table {
width: 100%;
border-collapse: collapse;
font-family: Arial, sans-serif;
}

.score-table thead {
background-color: rgba(50, 98, 187, 0.781);
}

.score-table th,
.score-table td {
border: 1px solid #dddddd;
padding: 8px;
text-align: center;
}

.score-table tr:nth-child(even) {
background-color: #3672b8;
}

.score-table tr:hover {
background-color: #db9e43;
}

.score-table th {
padding-top: 12px;
padding-bottom: 12px;
}